@font-face {
	font-family: 'Omori';
	src: url(fonts/OMORI_GAME2.ttf);
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Omori', Arial, Helvetica, sans-serif;
	color: white;
	background-color: black;
}

h2 {
	font-size: 5rem;
}

p, li {
	font-size: 2rem;
}

a {
	color: white;
}

#page {
	min-height: 80vh;
	width: 80vw;
	margin: 0 10vw;
	background-color: rgb(0, 0, 0);
}

.footer {
	height: 10vh;
	border-top: 1px solid white;
}

.footer-container {
	width: 80%;
	margin: 0 10vw;
	padding-bottom: 0.5vh;
}

.footernav {
	height: 10vh;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.navbar {
	height: 10vh;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid white;
}

.navitem {
	font-size: 3rem;
	text-transform: uppercase;
	width: 25%;
	text-align: center;
	cursor: pointer;
}

.navitem:hover {
	font-size: 3.2rem;
}

.centered {
	width: 100%;
	text-align: center;
}

.page {
	display: none;
}

/*
	inicio
*/

@keyframes lbulbrotate {
	from {
		transform: rotate(-10deg);
	}
	to {
		transform: rotate(10deg);
	}
}

.lbulb {
	transform-origin: top center;
	animation-name: lbulbrotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.maintitle {
	font-size: 10rem;
	padding-top: 2%;
	padding-bottom: 5%;
}

.video {
	padding: 5% 0;
}

.video iframe {
	width: 80vw;
	height: 45vw;
}

/*
	galeria
*/

.galeria {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30vmin, max-content));
	grid-gap: 1vmin;
	justify-content: center;
	padding: initial;
	margin-top: 5%;
}

.galeria .imgdiv {
	height: 30vmin;
	width: 30vmin;
	overflow: hidden;
}

.galeria img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 1s;
}

.galeria img:hover {
	opacity: 70%;
	transform: scale(1.1);
	cursor: pointer;
}

#gallery-big {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #00000093;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	transition: 2s;
}

#gallery-big .gallery-img {
	margin: auto;
	max-width: 70%;
	max-height: 70%;
}

.gallery-ctrl {
	transition: 500ms;
}

.gallery-close {
	position: absolute;
	top: 1vmax;
	right: 1vmax;
}

.gallery-next {
	position: absolute;
	top: 50%;
	right: 1vmax;
	transform: translateY(-50%);
}

.gallery-prev {
	transform: translateY(-50%) rotate(180deg);
	position: absolute;
	top: 50%;
	left: 1vmax;
}

.gallery-ctrl:hover {
	opacity: 0.7;
	cursor: pointer;
}

.gallery-ctrl>img {
	max-width: 5vw;
	max-height: 10vh;
}

.gallery-close>img {
	max-width: 5vw;
	max-height: 5vh;
}

/*
	contato
*/

#page-contato {
	padding: 2vmax 0;
}

.person {
	display: flex;
	margin: 1vmax 0;
}

.person h2 {
	margin: 0;
	padding: 0;
}

.person-image img {
	width: 100%;
}

.person-image {
	width: 25%;
}

.person-desc {
	width: 75%;
	margin-left: 2vw;
}

/*
	scrollbar
*/

::-webkit-scrollbar {
	width: 1vw;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: #333333;
}

::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

/* CELULAR */

@media all and (max-width: 800px) {
	.navitem {
		font-size: 2rem;
	}

	.navitem:hover {
		font-size: 2.2rem;
	}

	.maintitle {
		font-size: 4rem;
	}

	.omoripic {
		width: 100%;
	}

	h2 {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	@media all and (max-width: 500px) {
		.navitem {
			font-size: 1.5rem;
		}

		.navitem:hover {
			font-size: 1.7rem;
		}

		.maintitle {
			font-size: 3rem;
		}

		.omoripic {
			width: 100%;
		}
	}
}
